@import "./src/assets/styles/mixins";
@import "./src/assets/styles/variebles";

.header {
  padding: 20px 0;

  height: 50px;

  background-color: $primaryDark;

  @include media(xl) {
    padding: 10px 0;
  }

  @include media(xs) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
  }

}

.container {
  @extend %container;
}

.inner {
  @include flex(row, center, flex-end);
}

.nav {
  @include flex();

  //padding: 20px 0;

  width: 45%;

  transition: 1s;

  @include media(xl) {
    width: 100%;
  }

  @include media(xs) {

    @include flex(column, center, space-evenly);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 20;

    transform: translateY(-100%);

    background-color: $primaryDark;
  }

  &.menuActive {
    @include media(xs) {
      transform: translateY(0%);
      @include flex(column, center, space-evenly);
    }
  }
}

.link {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;

  transition: .3s linear;

  @include media(xl) {
    font-size: 24px;
  }

  @include media(xs) {
    font-size: 36px;
  }

  &:hover {
    color: $primaryLight;
  }
}

.burgerMenuWrapper {
  display: none;

  width: 50px;
  height: 50px;

  cursor: pointer;

  @include media(xs) {
    @include flex(row, center, center);
  }

  &:hover .burgerMenuIcon,
  &:hover .burgerMenuIcon:before,
  &:hover .burgerMenuIcon:after {
    background-color: $primaryLight;
  }
}

.burgerMenuIcon {
  position: relative;

  width: 50px;
  height: 6px;

  background-color: #fff;

  transition: .3s;

  z-index: 100;
}

.burgerMenuIcon::before {
  @extend %burgerLine;
}

.burgerMenuIcon::after {
  @extend %burgerLine;

  bottom: -15px;
}

.burgerMenuIcon.active {
  background-color: transparent;

  transition: .3s;

  &:hover {
    background-color: transparent;
  }
}

.burgerMenuIcon.active::before {
  @extend %burgerLineActive;
}

.burgerMenuIcon.active::after {
  @extend %burgerLineActive;

  transform: rotate(-45deg);
}