@import "./src/assets/styles/mixins";
@import "./src/assets/styles/variebles";

.header {
  padding: 20px 0;

  background-color: $primaryDark;

  @include media(xl) {
    padding: 10px 0;

  }
}

.container {
  @extend %container;
}

.inner {
  @include flex(row, center, flex-end);
}

.nav {
  @include flex();

  //padding: 20px 0;

  width: 45%;

  @include media(xl) {
    width: 100%;
  }

  @include media(xs) {
    display: none;
  }
}

.link {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $primaryLight;
  }

  @include media(xl) {
    font-size: 24px;
  }
}

.burger {
  display: none;
  //
  //width: 50px;
  //height: 50px;
  //
  //background-image: url(./../../assets/images/header/burgerIcon.svg);
  //fill: $primaryLight;

  @include media(xs) {
    display: block;
  }
}

.menuActive {

  @include media(xs) {
    @include flex(column, center, center);
  }
}

.burgerActiveMenuButton {
  width: 50px;
  height: 50px;

  background-image: url(./../../assets/images/header/crossIcon.svg);
}


.burger {
  display: none;

  position: fixed;

  width: 50px;
  height: 50px;

  padding: 0;

  background: transparent;
  border: 0;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: all .3s linear;
  z-index: 25;

  @include media(lg) {
    display: block;

    width: 40px;
    height: 30px;

    left: 20px;
    top: 30px;
  }

  @include media(sm) {
    left: 2.3rem;
    top: 5.5rem;
  }



  &:hover .burger__line,
  &:hover .burger__line::after,
  &:hover .burger__line::before,
  &:hover .burger__line.active::before,
  &:hover .burger__line.active::after {
    background-color: $primaryLight;
  }

  &__line {
    @include burgerLine();

    &::before {
      @include burgerLine();

      content: "";
      position: absolute;
      top: 10px;
      right: 0;
    }

    &::after {
      @include burgerLine();

      content: "";
      position: absolute;
      bottom: 10px;
      right: 0;
    }

    &.active {
      display: block;
      position: relative;

      padding: 0;

      height: 0;

      border: 0;
      transition: all .3s linear;
      z-index: 25;

      &::after {
        @include burgerCross();
        transform: rotate(-45deg);
      }

      &::before {
        @include burgerCross();
        transform: rotate(45deg);
      }
    }
  }
}