@import "./variebles";



@mixin flex($flex-direction: row, $align-items: center, $justifyContent: space-between) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justifyContent;
}

//   @include flex(column);
//   @include flex();
//   @include flex(center, flex-start);
//   @include flex(center, center);



@mixin media($width, $type:max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width + 1px;
    }
  }
  @media (#{$type}-width: $width) {
    @content;
  }
}



@mixin burgerLine() {
  position: relative;

  display: block;

  width: 100%;
  height: 3px;

  border-radius: 1px;
  background-color: $primaryLight;
  border: 0;

  transition: all .5s linear;
  z-index: 6;
}

@mixin burgerCross() {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 50px;
  height: 3px;

  border-radius: 1px;
  background-color: $primaryLight;

  z-index: 6;
  opacity: 1;

  transition: all .5s linear;
}


